[Unit]
Description=Check for new IP and update route53 zone accordingly

[Service]
Type=oneshot
EnvironmentFile=/etc/route53-dyndns/route53-dyndns.conf
ExecStart=/opt/route53-update/route53-update
