[Unit]
Description=Check for new IP and update route53 zone accordingly

[Timer]
OnBootSec=15min
OnUnitActiveSec=1w

[Install]
WantedBy=timers.target

[Unit]
Description=status email for %I to user

[Service]
Type=oneshot
ExecStart=/usr/local/bin/systemd-email address %i
User=nobody
